@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Guatefinanzas CORP.</h2>
<p>Our corporation provides ways to manage money, your money, safely and with great benefits.</p>
