@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Guatefinanzas Corp<br />
    Zona 7, Guatemala City, Guatemala CA<br />
    <abbr title="Phone">P:</abbr>
    25555555 Ext.:1003
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@guatefinanzas.com.gt">Support@guatefinanzas.com.gt</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@guatefinanzas.com.gt">Marketing@guatefinanzas.com.gt</a>
</address>